.app-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav {
	display: flex;
	gap: 1rem;
	margin-right: 10px;
}

nav a {
	color: black;
	text-decoration: none;
	border-radius: 6px;
	font-size: 0.9rem;
}

.register-btn {
	background-color: red;
	color: #ffff;
	padding: 8px;
}

.login-btn {
	background-color: green;
	color: #ffff;
	padding: 8px;
}

nav a:hover {
	/* background-color: rgba(21, 20, 20, 0.2); */
}

@media (max-width: 600px) {
	.app-header {
		flex-direction: column;
		align-items: flex-start;
		padding: 0.5rem 1rem;
		height: auto;
	}

	nav {
		width: 100%;
		justify-content: flex-start;
		gap: 0.75rem;
		margin-top: 0.25rem;
	}
}
